<mat-card>
    <mat-card-title>
        Dados do usuário
        <button mat-raised-button (click)="backToList()">Voltar para a lista</button>
    </mat-card-title>

    <mat-card-content *ngIf="user$ | async as user; else loading">
        
        <form class="user-data">
            <label>Dados Pessoais</label>
            <section>
                <mat-form-field>
                    <input matInput readonly placeholder="Nome" value="{{user.username}}">
                </mat-form-field>
                <mat-form-field class="email">
                    <input matInput readonly placeholder="Email" value="{{user.email}}">
                </mat-form-field>
                <mat-form-field>
                    <input matInput readonly placeholder="Website" value="{{user.website}}">
                </mat-form-field>
                <mat-form-field>
                    <input matInput readonly placeholder="Nome da empresa" value="{{user.company.name}}">
                </mat-form-field>
            </section>

            <label>Mapa: {{lat}}, {{lng}}</label>
            <section *ngIf="lat && lng">
                <agm-map [latitude]="lat" [zoom]="4" [longitude]="lng">
                    <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </section>
        </form>

        
        
    </mat-card-content>

    <ng-template #loading>
        <div class="loading">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</mat-card>