.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px
}

label {
    display: block;
    font-weight: bold;
    margin: 16px 0px;
}

mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-data {
    section {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
    }

    mat-form-field {
        padding: 10px;
        flex-grow: 1;

        &.id {
            width: 40px
        }

        &.email {
            min-width: 300px;
        }
    }
}

agm-map {
    width: 100%;
    height: 300px;
}
