table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
    color: black;
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px
}

mat-icon{
    &.favorito {
        color: lightgray;
    }

    &.favoritado {
        color: black;
    }
}