<mat-card>
    <mat-card-title>
        Lista de usuários
    </mat-card-title>
    <mat-card-content>
        <div [hidden]="loading">
            <mat-form-field>
                <input (keyup)="applyFilter($event.target.value)" #filter matInput placeholder="Filtro">
            </mat-form-field>
            
            <button mat-icon-button (click)="toggleSearchFavorites(filter.value)" aria-label="Exibir somente usuários favoritados">
                <mat-icon class="favorito" [ngClass]="{'favoritado': searchFavorites}">favorite</mat-icon>
            </button>

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">

                <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let user"> {{user.id}} </td>
                </ng-container>
            
                <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                <td mat-cell *matCellDef="let user"> {{user.name}} </td>
                </ng-container>
            
                <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef > Email </th>
                <td mat-cell *matCellDef="let user"> {{user.email}} </td>
                </ng-container>
            
                <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef > Empresa </th>
                <td mat-cell *matCellDef="let user"> {{user.company.name}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef > Editar </th>
                <td mat-cell *matCellDef="let user">
                    <button mat-icon-button (click)="toggleFavoriteUser(user.id)" aria-label="favorite user">
                        <mat-icon class="favorito" [ngClass]="{'favoritado': isFavorite(user.id)}">favorite</mat-icon>
                    </button>
                    
                    <button mat-icon-button (click)="openUserDetails(user)" aria-label="edit user">
                        <mat-icon>person_pin_circle</mat-icon>
                    </button>
                </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator [length]="usersListlength"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent = $event">
            </mat-paginator>
        </div>

        <div *ngIf="loading" class="loading">
            <mat-spinner></mat-spinner>
        </div>
        
    </mat-card-content>   
</mat-card>